/* Mise à 0 des margins et paddings */
* {
    margin: 0;
    padding: 0;
}

/* Font pour le texte incliné */
@font-face {
    font-family: "LoudAndClear";
    src: url(font/Loud-and-clear.ttf);
    font-style: normal;
    font-weight: normal;
}

/* Font du H1 */
@font-face {
    font-family: 'BilkoOpti-Regular';
    src:url('BilkoOpti-Regular.ttf.woff') format('woff'),
        url('BilkoOpti-Regular.ttf.svg#BilkoOpti-Regular') format('svg'),
        url('BilkoOpti-Regular.ttf.eot'),
        url('BilkoOpti-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* Style du HTML et du body */
html {
    background-color: white;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}

/* Mise en forme du header */
header {
    /* Fond carbone */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 95%;
}

.headerG {
    display: flex;
    flex-direction: column;
    width: 60%;

}

.headerG h1 {
    color: #26c4ec;
    font-family: 'BilkoOpti-Regular';
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-left: 3%;
    margin-top: 5%;
    width: 70%;
}

.textHeader {
    display: flex;
    flex-direction: column;
    transform: rotate(-5deg);
}

.text-incline {
    color: white;
    font-family: "LoudAndClear";
    font-size: 2.5em;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    margin-left: 25%;
    text-align: center;
}

.barre {
    background-color: white;
    height: 0.2em;
    margin-bottom: 0;
    margin-left: 30%;
    margin-right: 6%;
    margin-top: 0;
}

/* Try to do a special form, neon style */
.dsp {
    /* text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 20px #26c4ec, 0 0 30px #26c4ec, 0 0 40px #26c4ec, 0 0 55px #26c4ec, 0 0 75px #26c4ec; */
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 45px #26c4ec, 0 0 75px #26c4ec, 0 0 85px #26c4ec, 0 0 105px #26c4ec, 0 0 155px #26c4ec;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #26c4ec, 0 0 35px #26c4ec, 0 0 40px #26c4ec, 0 0 50px #26c4ec, 0 0 75px #26c4ec;
    }
}

#interv {
    color: white;
    margin-left: 1%;
    margin-top: auto;
}

.headerD .slide {
    height: 200px;
    margin-bottom: auto;
    margin-top: 50px;
    width: 600px;
}
/* Fin style header */

/* Style bar de navigation */
.menuD {
    height: 90px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

nav {
    float: right;
    height: 100%;
    padding: 0;
    width: 200px;
}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-expand-lg {
    flex-flow: row-reverse;
}

/* Responsive, menu burger */
.burger{
    background-color: #26c4ec;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
    height: 100%;
    width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: black;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.900);
    height: 90px;
    z-index: 1;
}

/* Style nav link et li */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 45px;
    padding-left: 45px;
}

.nav-link {
    padding-bottom: auto;
    padding-top: 30px;
}

nav li {
    align-items: center;
    display: flex;
    font-family: 'Inconsolata';
    height: 90px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

nav li:hover, nav a:hover {
    /* align-items: flex-start; */
    background-color: #26c4ec;
    font-size: 1.2em;
    font-weight: bold;
    /* justify-content: flex-start; */
}

nav a {
    color: #ffffff;
    text-decoration: none;
}
/* Ici, fin du style de la nav */

/* Première section et carousel */
#sectionCarr {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
}

/* .carouselPhoto {
    display: flex;
    flex-direction: row;
} */

.carousel {
    border: 10px solid black;
    box-shadow: 4px 10px 8px black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}

.sectionCarrosserie {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
}

h3{
    color: #000000;
    margin-bottom: 30px;
    padding-top: 30px;
}

.textAff {
    color: black;
}
/* Fin du style première Section */

/* Debut du style second Section */
#sectionDeboss {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: auto;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    padding-top: 2%;
    width: 95%;
}

.textPrix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    margin-left: 5%;
}

#textCount {
    height: auto;
    margin-left: 1%;
    width: 400px;
}

.h3Sect {
    color: #26c4ec;
    font-family: 'Rochester';
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 50px;
}

.textExpli {
    color: #26c4ec;
    display: flex;
    font-family: 'Rochester';
    justify-content: center;
    font-size: 1.5em;
}

#sectionDeboss li {
    color: #26c4ec;
    display: flex;
    font-family: 'Rochester';
    justify-content: center;
    font-size: 1.5em;
}
/* Fin du style second Section */

/* Style des balises em et strong pour SEO */
strong {
    font-weight: normal;
}

em {
    font-style: normal;
}
/* Fin style des balises pour SEO */

/* Début du style page "commentaire" et "gestion" */
.zoneCommentaire {
    background-color: black;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#logout {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.commentaireZone {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.formulaireComm {
    background-color: rgba(0, 0, 0, 0.900);
    border: 3px solid white;
    padding-bottom: 1%;
}

#comm {
    color: white;
}

.affichageCommentaire {
    background-color: #303030;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.titreComm {
    color: #26c4ec;
}

.zoneRow {
    padding-bottom: 2%;
}

.zoneRow .col-sm-6 {
    display: flex;
    flex-direction: row;
}

.affiComm {
    background-color: #4e4c4c;
    border: 3px solid white;
    height: auto;
    margin-bottom: 1%;
}

.textAffi {
    background-color: #303030;
    display: flex;
    border: 3px solid white;
    /* border-radius: 50%; */
    color: #26c4ec;
    font-size: 1.3em;
    justify-content: center;
    text-align: center;
}

.textAffi input.star ~ label.star:hover {
    color: #FE7;
    transform: none;
}
/* Fin style de la zone commentaire et gestion */

/* Debut style des étoiles pour les notes */
div.stars {
    width: 270px;
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
    margin-bottom: 0;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
 
  input.star-1:checked ~ label.star:before { color: #F62; }

  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

  .starsFunny {
      color: white;
  }

  /* Style des étoiles pour la vue */
  label.middleStar {
    content: '\f005';
    color: #FD4;
  }

  label.maxStar {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  label.lowStar { 
    color: #F62; 
  }
  /* Fin style étoile vue */
/* Fin style des étoiles */

/* Style de la page A Propos */
.textPropos {
    background-color: rgba(0, 0, 0, 0.900);
    font-size: 1.4em;
    margin-bottom: 2%;
    padding: 2%;
    width: 30%;
}

.textPropos p {
    color: #26c4ec;
}
/* Fin de style page A Propos */

/* Style du footer */
footer {
    background-color: rgba(0, 0, 0, 0.900);
    height: 104px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.zoneFooter {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.zoneFooter a {
    color: white;
    text-decoration: none;
}

.facebook {
    height: 60px;
    width: 60px;
}

.map {
    height: 60px;
    width: 60px;
}

.twitter {
    height: 60px;
    width: 60px;
}

.mentions {
    height: 60px;
    width: 60px;
}
/* Fin style du footer */

/* Style du formulaire */
.formFond {
    background:black;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}

.h1Form {
    color: white;
    margin-bottom: 50px;
    padding-top: 50px;
}

form {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    width: 95%;
}

label {
    color: white;
}

label:hover {
    color: #26c4ec;
}

input:hover {
    background-color: rgb(219, 213, 213);
}

.form-control:hover::placeholder {
    color: #26c4ec;
}

textarea:hover{
    background-color: rgb(219, 213, 213);
}

textarea:hover::placeholder {
    color: #26c4ec;
}

.col-sm-6 {
    display: flex;
    flex-direction: column;
}

.subForm {
    margin-top: 15px;
}

/* Style de l'input number */
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
/* Fin style formulaire */

/* Style pour le cookie */
.cookie-alert {
    position: fixed;
    bottom: 20px;
    right:20px;
    border-radius: 10px;
    background:#2f2f2f;
    color:#fff;
    padding:10px 15px;
    width:280px;
    z-index:100;
 }
 .cookie-alert a { 
    display:block;
    text-align: center;
    padding:5px 10px;
    margin:8px auto 0 auto;
    border-radius: 10px;
    background:transparent;
    border: 2px solid #46A2D9;
    color:#46A2D9;
    transition: all .3s ease;
 }
    .cookie-alert a:hover {
       background: #46A2D9;
       color:#2f2f2f;
    }
 @media only screen and (max-width:480px) {
    .cookie-alert {
       text-align: center;
       left: 0; right: 0;;
         margin: 0 auto;
       max-width:700px;
       padding:10px 30px;
    }
 }
/* Fin style cookie */

/* Version mobile */
@media screen and (max-width: 750px) {
    /* header mobile */
    header {
        display: flex;
        flex-direction: column;
        width: 95%
    }

    .headerD {
        display: none;
    }

    .headerG {
        height: 100%;
        width: 100%;
    }

    .headerG h1 {
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .text-incline {
        font-size: 1.6em;
        margin-bottom: auto;
        margin-left: 0;
        margin-top: 15%;
    }

    .barre {
        display: none;
    }
    
    .headerG img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        width: 95%;
    }

    #interv {
        margin-top: auto;
    }
    /* Fin header mobile */

    /* Nav mobile */
    nav {
        float: initial;
    }

    .navbar-expand-lg {
        flex-flow: initial;
        margin: 0;
        width: 55.2%;
    }
    
    .menuD {
        height: auto;
    }

    .navbar {
        margin: 0;
    }

    .navbar-nav {
        margin-right: auto;
        width: auto;
    }

    .navbar-collapse {
        height: auto;
        margin: 0;
        padding-left: 0;
    }
    /* Fin du nav mobile */
    
    /* Style mobile du texte de la section ( prix + titre ) */
    .textPrix {
        flex-direction: column-reverse;
    }

    #textCount {
        width: 300px;
    }
    /* Fin style mobile du texte de la section ( prix + titre ) */

    /* Mobile deuxième section */
    #sectionDeboss {
        height: auto;
    }

    .h3Sect {
        padding: 0;
    }

    .decriCarr {
        width: 100%;
    }

    .textExpli {
        flex-direction: column;
        font-size: 1.2em;
        padding-left: 1%;
        padding-right: 1%;
        text-align: center;
    }
    
    ul {
        font-size: 0.8em;
        text-align: center;
    }
    /* Fin mobile deuxième section */

    /* Version mobile page Commentaire */
     .textAff p {
        font-size: 0.8em;
        width: auto;
    }

    /* Style page Gestion mobile */
    #logout {
        width: 50%;
    }

    /* Style mobile formulaire commentaire */
    .commentaireZone {
        height: auto;
    }

    /* Style mobile page A Propos */
    .textPropos {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    /* Version mobile du footer */
    .zoneFooter {
        padding-top: 10%;
    }

    .facebook {
        height: 30px;
        width: 30px;
    }
    
    .map {
        height: 30px;
        width: 30px;
    }
    
    .twitter {
        height: 30px;
        width: 30px;
    }
    
    .mentions {
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width:1150px) {

    .headerD {
        display: none;
    }

    .headerG h1 {
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    .text-incline {
        font-size: 1.6em;
        margin-bottom: auto;
        margin-left: 0;
        margin-top: 15%;
    }

    .barre {
        display: none;
    }
}